body {
    margin: 0;
    padding: 0;
    line-height: normal;
}

:root {
    --font-orbitron: Orbitron;
    --font-roboto: Roboto;

    --font-size-lg: 18px;
    --font-size-mini: 15px;
    --font-size-4xl: 23px;
    --font-size-base: 16px;
    --font-size-5xl: 24px;
    --font-size-45xl: 64px;
    --font-size-2xs: 11px;
    --font-size-35xl: 55px;

    --color-white: #fff;
    --color-darkgray: #999;
    --color-deepskyblue: #57b8ff;
    --color-lightslategray: #80858f;
    --color-transpanent: #80858f00;
    --color-gold: #FAC422;
    --color-black: #141820;
}

a {
    display: inline-block;

    &:hover {
        transform: translate(0px, 1px);
        transition: 100ms cubic-bezier(0.78, -0.02, 1, 1);
    }
}

h1 {
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: 86px;
    text-transform: capitalize;
}
